<?xml version="1.0" ?>
<robot name="Charging_Socket_CCS_Type2_V1" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find Charging_Socket_CCS_Type2_V1_description)/urdf/materials.xacro" />
<xacro:include filename="$(find Charging_Socket_CCS_Type2_V1_description)/urdf/Charging_Socket_CCS_Type2_V1.trans" />
<xacro:include filename="$(find Charging_Socket_CCS_Type2_V1_description)/urdf/Charging_Socket_CCS_Type2_V1.gazebo" />
<link name="base_link">
  <inertial>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
    <mass value="0.0"/>
    <inertia ixx="0.0" iyy="0.0" izz="0.0" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Charging_Socket_CCS_Type2_V1_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="silver"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="package://Charging_Socket_CCS_Type2_V1_description/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

</robot>
